.table-view {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: auto;
    .table-header {
        display: flex;
        position: sticky;
        background-color: #F9F9FC;
        top: 0;
        z-index: 2;

        .table-header__checkbox-container {
            background-color: #F9F9FC;
            border-bottom: 1px solid #A9A9CB;
            height: 40px;
            left: 0px;
            position: sticky;
            width: 40px;

            .checkbox {
                padding: 8px 16px 8px 8px;
                width: 16px;
            }
        }

        .table-header__freeze-columns {
            background-color: #F9F9FC;
            border-bottom: 1px solid #A9A9CB;
            display: flex;
            height: 40px;
            left: 40px;
            position: sticky;
            z-index: 1;

            .freeze-column__content {
                padding: 11px 8px;
                display: flex;
                gap: 4px;
                color: #5A5A81;
                font-size: 12px;
                flex-wrap: nowrap;
                text-wrap: nowrap;
                width: 120px;

                .reorder-header-icon {}
            }
        }

        .table-header__standard-columns {
            display: flex;
            height: 40px;
            border-bottom: 1px solid #A9A9CB;

            .table-column {
                background-color: #F9F9FC;
                .table-column-content {
                    flex-wrap: nowrap;
                    text-wrap: nowrap;
                    padding: 11px 8px;
                    display: flex;
                    gap: 4px;
                    color: #5A5A81;
                    font-size: 12px;
                    width: 120px;
                }
            }
        }

        .table-header__more-actions-column {
            border-bottom: 1px solid #A9A9CB;
            width: 60px;
        }
    }

    .table-content {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        .table-row {
            display: flex;

            .table-row__checkbox-container {
                background-color: #F9F9FC;
                border-bottom: 1px solid #A9A9CB;
                height: 40px;
                left: 0;
                position: sticky;
                width: 40px;
                
                .checkbox {
                    padding: 8px 16px 8px 8px;
                    width: 16px;
                }
            }
            
            .table-content__freeze-columns {
                background-color: #F9F9FC;
                border-bottom: 1px solid #A9A9CB;
                display: flex;
                position: sticky;
                left: 40px;
                
                .freeze-column__content {
                    flex-wrap: nowrap;
                    text-wrap: nowrap;
                    padding: 11px 8px;
                    display: flex;
                    gap: 4px;
                    color: #5A5A81;
                    font-size: 12px;
                    width: 120px;
                    
                    .reorder-header-icon {}
                }
            }
            
            .table-row__content {
                display: flex;
                
                .table-cell {
                    border-bottom: 1px solid #A9A9CB;
                    
                    .table-cell-content {
                        flex-wrap: nowrap;
                        text-wrap: nowrap;
                        padding: 11px 8px;
                        display: flex;
                        gap: 4px;
                        color: #5A5A81;
                        font-size: 12px;
                    width: 120px;

                    }
                }
            }
            
            .table-content__row-actions {
                border-bottom: 1px solid #A9A9CB;
                display: flex;
                justify-content: center;
                width: 60px;
                
                .row-actions__container {
                    display: flex;
                }
            }
        }
    }
}

// COMMON

.sombra-visible {
    opacity: 1; /* Mostrar la sombra cuando se hace scroll */
  }
  
  .sombra-hidden {
    opacity: 0; /* Ocultar la sombra cuando no hay scroll horizontal */
  }

.sombra-sticky {
    width: 2px;
    margin-left: -3px;
    margin-top: -1px;
    background-color: #D0D0E6;
}

@media (max-width: 768px) {
    .table-view { 
        max-width: 100%;
    }
    .table-column-content, .table-cell-content {
      width: 80px; /* Reduce el ancho de las columnas en móviles */
    }
  
    .table-header, .table-row {
      font-size: 10px; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
    }
  }