.table-view {
    position: relative;
    float: left;
    min-width: 100%;
    padding-bottom: 180px;
    padding-left: 96px;
    padding-right: 96px;
    height: 820px;
    overflow: auto;
    .table-header {
        display: flex;

        .table-header__checkbox-container {
            background: #F9F9FC;
            border-bottom: 1px solid #A9A9CB;
            height: 40px;
            left: 0px;
            position: sticky;
            width: 40px;

            .checkbox {
                padding: 8px 16px 8px 8px;
                width: 16px;
            }
        }

        .table-header__freeze-columns {
            background: #F9F9FC;
            border-bottom: 1px solid #A9A9CB;
            display: flex;
            height: 40px;
            left: 40px;
            position: sticky;
            z-index: 1;

            .freeze-column__content {
                padding: 11px 8px;
                display: flex;
                gap: 4px;
                color: #5A5A81;
                font-size: 12px;
                flex-wrap: nowrap;
                text-wrap: nowrap;
                width: 120px;

                .reorder-header-icon {}
            }
        }

        .table-header__standard-columns {
            display: flex;
            height: 40px;
            border-bottom: 1px solid #A9A9CB;

            .table-column {
                .table-column-content {
                    flex-wrap: nowrap;
                    text-wrap: nowrap;
                    padding: 11px 8px;
                    display: flex;
                    gap: 4px;
                    color: #5A5A81;
                    font-size: 12px;
                    width: 120px;

                }
            }
        }

        .table-header__more-actions-column {
            border-bottom: 1px solid #A9A9CB;
            width: 60px;
        }
    }

    .table-content {
        display: flex;
        flex-direction: column;
        .table-row {
        display: flex;

            .table-row__checkbox-container {
                background: #F9F9FC;
                border-bottom: 1px solid #A9A9CB;
                height: 40px;
                left: 0;
                position: sticky;
                width: 40px;
                
                .checkbox {
                    padding: 8px 16px 8px 8px;
                    width: 16px;
                }
            }
            
            .table-content__freeze-columns {
                background: #F9F9FC;
                border-bottom: 1px solid #A9A9CB;
                display: flex;
                position: sticky;
                left: 40px;
                
                .freeze-column__content {
                    flex-wrap: nowrap;
                    text-wrap: nowrap;
                    padding: 11px 8px;
                    display: flex;
                    gap: 4px;
                    color: #5A5A81;
                    font-size: 12px;
                    width: 120px;
                    
                    .reorder-header-icon {}
                }
            }
            
            .table-row__content {
                display: flex;
                
                .table-cell {
                    border-bottom: 1px solid #A9A9CB;
                    
                    .table-cell-content {
                        flex-wrap: nowrap;
                        text-wrap: nowrap;
                        padding: 11px 8px;
                        display: flex;
                        gap: 4px;
                        color: #5A5A81;
                        font-size: 12px;
                    width: 120px;

                    }
                }
            }
            
            .table-content__row-actions {
                border-bottom: 1px solid #A9A9CB;
                display: flex;
                justify-content: center;
                width: 60px;
                
                .row-actions__container {
                    display: flex;
                }
            }
        }
    }
}

// COMMON


.sombra-sticky {
    width: 5px;
    margin-left: -3px;
    margin-top: -1px;
    background: #D0D0E6;
}